body {
    padding: 0px !important;
    background: #ebebeb;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body {
    min-height: 83.6vh;
}

.navbar-brand img {
    width: 200px;
}

.navbar {
    background: #131921 !important;
}


    .navbar a {
        color: #fff !important;
        transition: 0.5s;
        font-weight: 600;
    }

        .navbar a:hover {
            color: #ff9b00 !important;
        }

footer {
    background: #131921;
    color: #fff;
    padding: 8px;
    text-align: center;
    padding-top: 20px;
}

.productos {
    margin-top: 50px;
}

    .productos .card {
        transition: 1s;
        cursor: pointer;
    }

        .productos .card:hover {
            transform: scale3d(1.1, 1.1, 0.3);
            z-index: 3;
            box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
        }


    .productos .precio {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background: #131921;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

        .productos .precio h4 {
            color: #fff;
            margin-top: 5px;
            margin-left: 10px
        }

    .productos .card, .productos .card img {
        border-radius: 10px !important;
    }

        .productos .card h5 {
            font-weight: 600;
            border-bottom: solid 1px #dfdfdf;
            padding-bottom: 10px;
        }

.card {
    text-align: center;
    padding-top: 20px;
}

.card h5, .card p {
    text-align: left;
}





.btn-carrito {
    margin-right: 30px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    transition: 1s;
}


    .btn-carrito span {
        background: #ff9b00;
        position: absolute;
        right: 2px;
        top: 6px;
        min-width: 20px;
        text-align: center;
        border-radius: 50px;
        font-size: 13px;
        font-weight: 900;
        color: #fff;
    }

.dropdown-menu .dropdown-item {
    color: #131921 !important;
}

form span:nth-child(3) {
    color: #253243;
    margin-left: -20px;
    margin-right: 10px;
    font-size: 30px;
    font-weight: 100;
    margin-top: -7px
}

.dropdown {
    list-style: none;
}


.carrito {
    margin-top: 40px;
}

    .carrito .articulo {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 1fr;
        align-content: center;
        grid-gap: 10px;
        height: 80px;
        margin-top: 1px;
        padding: 15px;
        border-radius: 4px;
        background: #fff;
        border: solid 1px #b3b6b7;
    }

        .carrito .articulo h3 {
            font-size: 20px;
        }

    .carrito img {
        width: 55%;
    }

.precio {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    color: #ff9b00;
    background: red;
    padding: 10px;

    background: #131921;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.cantidad {
    display: flex;
    width: 100%;
    margin: auto;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background: #fff;
}

    .cantidad h3 {
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

.carrito .articulo .nombre {
    display: grid;
    grid-template-columns: 20px 100px 1fr;
    align-items: center;
    padding-left: 20px;
}

.carrito {
    padding: 10px;
    background-image: url(../imagen/fondo-carrito.jpg);
    background-position: center center;
    background-attachment: fixed;
}

.total {
    background: black;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 40px;
}


    .total h4 {
        color: #fff
    }

.carrito-vacio {
    text-align: center;
    margin-top: 70px;
}

    .carrito-vacio h3 {
        color: #8a8a8a;
        font-weight: 600;
        font-style: oblique;
    }

.alert {
    position: fixed;
    z-index: 999;
    animation: aviso 1s linear 1s;
    animation-fill-mode: both;
    display: none;
    background: #fff;
    color: #131921;
    font-weight: 600;
    font-size: 20px;
    right: 10px;
    border: none;
    box-shadow: 2px 2px 20px 5px rgba( 19, 25, 33, 0.2);
}


@keyframes aviso {
    0% {
        top: 100px;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    50% {
        top: 100px;
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        top: 0px;
        opacity: 0;
        display: none;
    }
}


.nombre i {
    transition: 0.5s;
    margin-left: -10px;
}

    .nombre i:hover {
        color: red;
    }


/*Sldie home*/
.marcas {
    display: flex !important;
    margin-top: 30px;
}


@mixin white-gradient {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}


.marcas .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

    .marcas .slider::before,
    .marcas .slider::after {
        @include white-gradient;
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    .marcas .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    .marcas .slider::before {
        left: 0;
        top: 0;
    }

.marcas .slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.marcas .slide {
    height: 100px;
    width: 250px;
}


form {
    position: relative;
}

.articulos-filtrados {
    position: absolute;
    top: 90px;
    z-index: 99;
    background: #fff;
    right: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.3);
    min-width: 300px;
}

    .articulos-filtrados .articulo {
        margin-top: 10px;
        border-bottom: solid 1px #ebebeb;
        padding-bottom: 10px;
    }

        .articulos-filtrados .articulo img {
            width: 30px;
        }


    .articulos-filtrados:before {
        content: "";
        display: block;
        width: 35px;
        height: 20px;
        background: #fff;
        ;
        position: absolute;
        right: 40px;
        top: -10px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }


.productos img {
    width: 70%;
}

.detalle-articulo .card-body {
    text-align: left;
    margin-top: 30px;
}


    .detalle-articulo .card-body h2 {
        font-size: 30px;
        font-weight: 600;
    }

.estrellas {
    display: flex;
    list-style: none;
    margin-left: -40px;
}

    .estrellas li {
        color: #ff9b00;
        margin-left: 3px;
    }

.detalle-articulo img {
    width: 85%;
}

.detalle-articulo .botones {
    text-align: center;
    margin-left: 40px;
    border: solid 1px #ebebeb;
    display: flex;
    flex-direction: column;
    height: 330px;
    padding-bottom: 40px
}

.detalle-articulo .cantidad-detalle {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;

}

    .detalle-articulo .cantidad-detalle h4 {
        font-size: 20px;
    }

.detalle-articulo .botones #MainContent_btnAgregar, .detalle-articulo .botones #MainContent_btnComprar {
    background: red;
    padding: 13px;
    border-radius: 8px;
    border: none;
    width: 90%;
    margin: auto;
    font-weight: 600;
    transition: 1s;
    margin-top: 10px;
}



.detalle-articulo .botones #MainContent_btnComprar {
    background: #3483fa;
    color: #fff;
}

.detalle-articulo .botones #MainContent_btnAgregar {
    background: #e2edfc;
    color: #5697fb;
}


    .detalle-articulo .botones #MainContent_btnAgregar:hover, .detalle-articulo .botones #MainContent_btnComprar:hover {
        transform: scale3d(1.1, 1.1, 0.3);
    }


.detalles span {
    color: #2fb670;
}

.detalles {
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

    .detalles p {
        color: #a5a5a5;
        margin-top: 5px;
    }

.articulos-filtrados a {
    color: #35393d !important;
    text-decoration: none;
}



.articulos-filtrados .articulo {
    transition: 1s;
}

.cantidad-detalle {
    background: #f4f6f7;
    width: 90%;
    margin: auto;
}

    .cantidad-detalle h5 {
        padding: 9px;
        font-size: 15px;
        font-weight: 700;
        border: solid 1px #007bff;
        color: #007bff;
    }

    .cantidad-detalle input {
        margin-top: -9px;
    }