body {
    padding: 0px !important;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body {
    min-height: 83.6vh;
}

.navbar-brand img {
    width: 200px;
}

.navbar {
    background: #131921 !important;
}


    .navbar a {
        color: #fff !important;
        transition: 0.5s;
        font-weight: 600;
    }

        .navbar a:hover {
            color: #ff9b00 !important;
        }

footer {
    background: #131921;
    color: #fff;
    padding: 8px;
    text-align: center;
    padding-top: 20px;
}

.productos {
    margin-top: 50px;
}

    .productos .card {
        transition: 1s;
        cursor: pointer;
    }

        .productos .card:hover {
            transform: scale3d(1.1, 1.1, 0.3);
            z-index: 3;
            box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
        }


    .productos .precio {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background: #131921;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

        .productos .precio h4 {
            color: #fff;
            margin-top: 5px;
            margin-left: 10px
        }

    .productos .card, .productos .card img {
        border-radius: 10px !important;
    }

        .productos .card h5 {
            font-weight: 600;
            border-bottom: solid 1px #dfdfdf;
            padding-bottom: 10px;
        }

.card {
    text-align: center;
    padding-top: 20px;
}

.card h5, .card p {
    text-align: left;
}





.btn-carrito {
    margin-right: 30px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    transition: 1s;
}


    .btn-carrito span {
        background: #ff9b00;
        position: absolute;
        right: 2px;
        top: 6px;
        min-width: 20px;
        text-align: center;
        border-radius: 50px;
        font-size: 13px;
        font-weight: 900;
        color: #fff;
    }

.dropdown-menu .dropdown-item {
    color: #131921 !important;
}

form span:nth-child(3) {
    color: #253243;
    margin-left: -20px;
    margin-right: 10px;
    font-size: 30px;
    font-weight: 100;
    margin-top: -7px
}

.dropdown {
    list-style: none;
}


.carrito {
    margin-top: 40px;
}

    .carrito .articulo {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 1fr;
        align-content: center;
        grid-gap: 10px;
        height: 80px;
        margin-top: 1px;
        padding: 15px;
        border-radius: 4px;
        background: #fff;
        border: solid 1px #b3b6b7;
    }

        .carrito .articulo h3 {
            font-size: 20px;
        }

    .carrito img {
        width: 55%;
    }

.precio {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    color: #ff9b00;
    background: red;
    padding: 10px;

    background: #131921;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.cantidad {
    display: flex;
    width: 100%;
    margin: auto;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background: #fff;
}

    .cantidad h3 {
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

.carrito .articulo .nombre {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    padding-left: 20px;
}

.carrito {
    padding: 10px;
    background-image: url(../imagen/fondo-carrito.jpg);
    background-position: center center;
    background-attachment: fixed;
}

.total {
    background: black;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 40px;
}


    .total h4 {
        color: #fff
    }

.carrito-vacio {
    text-align: center;
    margin-top: 70px;
}

    .carrito-vacio h3 {
        color: #8a8a8a;
        font-weight: 600;
        font-style: oblique;
    }

.alert {
    position: fixed;
    z-index: 999;
    animation: aviso 1s linear 1s;
    animation-fill-mode: both;
    display: none;
    background: #fff;
    color: #131921;
    font-weight: 600;
    font-size: 20px;
    right: 10px;
    border: none;
    box-shadow: 2px 2px 20px 5px rgba( 19, 25, 33, 0.2);
}


@keyframes aviso {
    0% {
        top: 100px;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    50% {
        top: 100px;
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        top: 0px;
        opacity: 0;
        display: none;
    }
}